.article_article {
    width: 100%;
    margin: 0 2rem 2rem 0;
}

.article_article img {
    width: 100%;
    height: 28.125rem;
}

.wrap_content_article {
    margin: 4.375rem 0;
}

.article_article .content_article {
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.block_article_img {
    width: 100%;
    height: 21rem;
    margin-bottom: 2.5rem;
}

.block_article_img img {
    width: 100%;
    height: auto;
}

.block_img1 {
    margin-right: 1.875rem;
}

.block_img_2>img {
    margin-bottom: 1.875rem;
}

.wrap_img {
    position: relative;
}

.previev {
    width: 100%;
    font-size: 2.625rem;
    text-align: center;
    background: rgba(256, 256, 256, .5);
    padding: 4.125rem 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}