body {
    width: 100%;
    font-family: 'Museo Sans Cyrl 500';
    font-size: 16px;
    background: url('../img/img_index/bg_header.png') no-repeat top 11.5rem center/contain;
}

.flex_row {
    display: flex;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.upper {
    text-transform: uppercase;
}

.center {
    justify-content: center;
}


/* HEADER */

.header {
    width: 100%;
    margin: 0 auto;
    min-width: 1280px;
    height: 95vh;
    position: relative;
}

.block_bg_animate img {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: -5px -10px 0;
    animation: shake 1.5s linear alternate infinite;
}

@keyframes shake {
    80% {
        transform: translateX(5px);
    }
    50% {
        transform: translateY(5px);
    }
}

.nav_link_icon {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 1.5625rem;
    padding-bottom: 1.5625rem;
}

.nav_link_icon a {
    display: block;
    width: 1.5em;
    height: 1.5em;
    color: #000;
    margin: 0 1em;
}

.nav_link_icon a:hover {
    font-size: 1.2rem;
    margin: 0 .71em;
}

.line {
    position: absolute;
    top: 4.125rem;
    width: 100%;
    height: 1px;
    background: #b2cebc;
}

.nav_link {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 4rem;
}

.nav_link a {
    display: block;
    color: #000;
    margin: 2.8125em 1em;
}

.nav_link a:hover {
    text-decoration: underline #000;
}


/* HEADER END */


/* MAIN */

.main {
    width: 100%;
    flex: 0 1;
}

.wrap_main {
    width: 1280px;
    margin: 0 auto;
}

.intro {
    font-family: 'MV Boli';
    font-size: 2.625rem;
    padding: 0 0 4rem;
}


/* article */

.article {
    width: 50%;
    padding-right: 2rem;
    margin: 0 auto;
}

.wrap_article {
    width: 66%;
    flex-wrap: wrap;
}

.article img {
    width: 100%;
}

.link_article {
    display: block;
    font-weight: 300;
    color: #a1c77a;
    text-align: center;
    margin: 1.875rem 0 1.125rem;
}

.intro_article {
    display: block;
    color: #000;
    font-size: 1.3125rem;
    text-align: center;
}

.article_line {
    width: 2rem;
    height: 2px;
    background: #000;
    margin: 1.5rem auto;
}

.article_time {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    color: #6b6b6b;
    text-align: center;
    margin-bottom: 1.875rem;
}

.content_article {
    line-height: 1.5rem;
    margin-bottom: 5rem;
}


/* article end */


/* block info */

.intro_info {
    font-size: 1.3125rem;
    text-align: center;
    padding: 1.3125rem 0;
    margin: 1.875rem 0;
    position: relative;
}

.intro_info::before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 0;
}

.intro_info::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
}

.wrap_info {
    width: 33%;
    background: #eaffe3;
    height: fit-content;
}

.wrap_info_content {
    width: 75%;
    margin: 0 auto;
    padding: 1.25rem 0 3rem;
}


/* block subscribe */

.form_subscribe input {
    font-family: 'Museo Sans Cyrl 300';
    font-size: 1rem;
    padding: 0.9375rem 0 0.9375rem 0.9375rem;
    border: none;
    margin-bottom: 1.125rem;
}

.btn {
    width: 100%;
    background: #134103;
    border: none;
    padding: 0.9375rem 0;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
}


/* block subscribe end */


/* block gallery */

.block_img_gallery {
    flex-wrap: wrap;
    justify-content: space-between;
}

.block_img_gallery img {
    width: 100%;
    margin-bottom: 0.625rem;
}


/* block gallery end */


/* categories */

.nav_categories a {
    display: block;
    font-size: 1.25rem;
    color: #000;
    padding: 0.625rem 0;
}

.span_style {
    color: #a1ab9e;
    font-size: 1rem;
}

.nav_categories {
    margin-bottom: 3.75rem;
}


/* categories end */


/* block yt */

.out_yt img {
    width: 100%;
    margin: 0;
}

.out_yt a {
    display: block;
    width: 100%;
    background: #aedd80;
    font-size: 0.8125rem;
    font-weight: 700;
    text-align: center;
    padding: 0.875rem;
    margin-top: -0.5rem;
}


/* block yt end */


/* block info end */


/* block number pages */

.number_pages {
    text-align: center;
    margin-bottom: 5rem;
}

.number_pages a {
    font-size: 1.1875rem;
    margin: 0 .3rem;
    color: #000;
}

.number_pages .span_color_style {
    font-size: 1.1rem;
    color: #a1c77a;
}


/* block number pages end */


/* MAIN END */


/* FOOTER */

.footer {
    width: 100%;
    min-width: 1280px;
    color: #fff;
    height: 11rem;
    background: #000;
    position: relative;
}

.wrap_bg {
    width: 100%;
    height: 70%;
    background: url('../img/img_index/gb_footer.png') repeat-x;
    position: absolute;
    bottom: 0;
}

.wrap_footer {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_link_icon a {
    color: #fff;
    margin: 0 1rem;
}

.footer_link_icon a:hover {
    font-size: 1.2rem;
    margin: 0 .77em;
}


/* FOOTER END */