@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');
body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: 'Museo Sans Cyrl 500';
    font-size: 16px;
}

.flex_row {
    display: flex;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.upper {
    text-transform: uppercase;
}

.center {
    justify-content: center;
}


/* HEADER */

.header {
    width: 100%;
    background: url('../img/img_index/bg_header.png') no-repeat top 11.5rem center/contain;
    margin: 0 auto;
    min-width: 1280px;
    min-height: 95vh;
    position: relative;
}

.block_bg_animate img {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-left: -5px;
    animation: shake 1.5s linear alternate infinite;
}

@keyframes shake {
    100% {
        transform: translateX(7px);
    }
}

.nav_link_icon {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 1.5625rem;
    padding-bottom: 1.5625rem;
}

.nav_link_icon a {
    display: block;
    width: 1.5em;
    height: 1.5em;
    color: #000;
    margin: 0 1em;
}

.nav_link_icon a:hover {
    font-size: 1.2rem;
    margin: 0 .71em;
}

.line {
    position: absolute;
    top: 4.125rem;
    width: 100%;
    height: 1px;
    background: #b2cebc;
}

.nav_link {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 4rem;
}

.nav_link a {
    display: block;
    color: #000;
    margin: 2.8125em 1em;
}

.nav_link a:hover {
    text-decoration: underline #000;
}


/* HEADER END */


/* MAIN */

.main {
    width: 100%;
    /* height: 100%; */
    flex: 1;
}

.wrap_main {
    width: 1280px;
    margin: 0 auto;
}


/* content */

.block_menu_2 {
    z-index: 100;
}

.block_photo {
    width: 29.0625rem;
    height: 43.4375rem;
    margin: 0;
    background: url('../img/img_index/img_1.jpg') no-repeat center/cover;
    position: relative;
}

.block_photo::after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #fff;
}

.block_desc {
    width: 18rem;
    height: 24.0625rem;
    background: url('../img/img_index/img_description.jpg') no-repeat center/cover;
    margin-left: -8.75rem;
    margin-top: -11.5625rem;
    z-index: 100;
}

.description {
    font-family: 'Pangolin', cursive;
    font-size: 2.675rem;
    line-height: 3rem;
    text-align: center;
    padding: 6.8rem 0.6875rem;
}

.center {
    justify-content: center;
}

.block_blog {
    width: 18rem;
    height: 13.3125rem;
    background: url('../img/img_index/img_blog.jpg') no-repeat center/cover;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0 6.5625rem 3.375rem;
}

.block_blog::after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #fff;
}

.btn {
    display: block;
    z-index: 100;
    width: 10.625rem;
    height: 2.5rem;
    color: #000;
    text-align: center;
    background: #fff;
    padding: .8rem 0;
}

.btn:hover {
    background: #000;
    color: #fff;
}

.block_intro {
    width: 31.0625rem;
    height: 19.0625rem;
    background: #eaffe3;
    margin: 3.375rem 0 0 -1.5rem;
    position: relative;
    z-index: -100;
}

.block_intro span {
    display: block;
}

.block_intro h1 {
    width: 14.0625rem;
    position: absolute;
    top: -1.875rem;
    left: 1rem;
}

.wrap_span {
    transform: rotate(-15deg);
    margin: -1.5rem 0 1.5rem 8rem;
}

.span_style_1 {
    font-family: 'Museo Sans Cyrl 300';
    font-size: 3rem;
}

.span_style_2 {
    font-family: 'Pangolin', cursive;
    font-size: 3rem;
}

.block_autor {
    width: 26.875rem;
    height: 19.0625rem;
    background: url('../img/img_index/bg_my_hist.png') no-repeat center/cover;
    margin: -6.5625rem 0 0 -1.85rem;
    z-index: 100;
}

.img_autor {
    margin: 1.125rem;
}

.block_preview {
    margin: 1.625rem 0.5rem 1.625rem 0;
}

.name {
    font-size: 1.2rem;
    color: #fff;
    padding-bottom: 1rem;
}

.greeting {
    font-family: 'Museo Sans Cyrl 300';
    font-size: 0.875rem;
    color: #fff;
    line-height: 1.1rem;
    padding-bottom: 1rem;
}

.block_gallery {
    width: 25.3125rem;
    height: 16.25rem;
    background: url('../img/img_index/img_gallery.jpg') no-repeat center/cover;
    margin: 1rem 0 0 5.1875rem;
    position: relative;
}

.block_btn_gallery {
    width: 12.6875rem;
    height: 9.75rem;
    background: rgba(195, 252, 176, .5);
    position: absolute;
    bottom: -1.6875rem;
    left: -1.6875rem;
}

.btn_gallery {
    /* margin: 0 auto; */
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}


/* content end */


/* block number pages */

.number_pages {
    text-align: center;
    margin-bottom: 5rem;
}

.number_pages a {
    font-size: 1.1875rem;
    margin: 0 .3rem;
    color: #000;
}

.number_pages .span_color_style {
    font-size: 1.1rem;
    color: #a1c77a;
}


/* block number pages end */


/* MAIN END */


/* FOOTER */

.footer {
    width: 100%;
    min-width: 1280px;
    color: #fff;
    height: 11rem;
    background: #000;
    position: relative;
}

.wrap_bg {
    width: 100%;
    height: 70%;
    background: url('../img/img_index/gb_footer.png') repeat-x;
    position: absolute;
    bottom: 0;
}

.wrap_footer {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_link_icon a {
    color: #fff;
    margin: 0 1rem;
}

.footer_link_icon a:hover {
    font-size: 1.2rem;
    margin: 0 .77em;
}


/* FOOTER END */