body {
    width: 100%;
    height: 100%;
    font-family: 'Museo Sans Cyrl 500';
    font-size: 16px;
}

.flex_row {
    display: flex;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.upper {
    text-transform: uppercase;
}

.center {
    justify-content: center;
}


/* HEADER */

.header {
    width: 100%;
    background: url('../img/img_index/bg_header.png') no-repeat top 11.5rem center/contain;
    margin: 0 auto;
    min-width: 1280px;
    min-height: 95vh;
    position: relative;
}

.block_bg_animate img {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-left: -5px;
    animation: shake 1.5s linear alternate infinite;
}

@keyframes shake {
    100% {
        transform: translateX(7px);
    }
}

.nav_link_icon {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 1.5625rem;
    padding-bottom: 1.5625rem;
}

.nav_link_icon a {
    display: block;
    width: 1.5em;
    height: 1.5em;
    color: #000;
    margin: 0 1em;
}

.nav_link_icon a:hover {
    font-size: 1.2rem;
    margin: 0 .71em;
}

.line {
    position: absolute;
    top: 4.125rem;
    width: 100%;
    height: 1px;
    background: #b2cebc;
}

.nav_link {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 4rem;
}

.nav_link a {
    display: block;
    color: #000;
    margin: 2.8125em 1em;
}

.nav_link a:hover {
    text-decoration: underline #000;
}


/* HEADER END */


/* MAIN */

.main {
    width: 100%;
    max-height: 100%;
    flex: 1 1;
}

.wrap_main {
    width: 1280px;
    margin: 0 auto;
}


/* content */

.description {
    font-family: 'MV Boli';
    font-size: 2.625rem;
}


/* content end */


/* block number pages */

.number_pages {
    text-align: center;
    margin-bottom: 5rem;
}

.number_pages a {
    font-size: 1.1875rem;
    margin: 0 .3rem;
    color: #000;
}

.number_pages .span_color_style {
    font-size: 1.1rem;
    color: #a1c77a;
}


/* block number pages end */


/* MAIN END */


/* FOOTER */

.footer {
    width: 100%;
    min-width: 1280px;
    color: #fff;
    height: 11rem;
    background: #000;
    position: relative;
}

.wrap_bg {
    width: 100%;
    height: 70%;
    background: url('../img/img_index/gb_footer.png') repeat-x;
    position: absolute;
    bottom: 0;
}

.wrap_footer {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_link_icon a {
    color: #fff;
    margin: 0 1rem;
}

.footer_link_icon a:hover {
    font-size: 1.2rem;
    margin: 0 .77em;
}


/* FOOTER END */